@import "variables";

html{
    color: $black;
    background: $white;
}

a{
    color: $purple;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.2s ease-in-out;

    &:hover{
        color: $purple-darker;
    }
}