@import "variables";

.modal{
  position: absolute;
  width: 400px;
  height: 400px;
  border: 3px solid $purple;
  border-radius: 3px;
  padding: 30px;
  background: $white;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: 0px 10px 10px rgba(54, 25, 109, 0.2);
}

.close{
  position: absolute;
  top: 10px;
  right: 10px;
}