@import "variables";

.dashboard{
  display: flex;
  height: 100vh;
  align-items: stretch;
}

.navigation{
  width: 200px;
  display: flex;
  align-items: stretch;
}
.content{
  flex-grow: 1;
  padding: 0 30px 30px;
}